@page
<DOCTYPE html>
    <html>
    <head>
        <!-- 编码格式utf-8 -->
        <meta charset="utd-8" />
        <title>首页·一起帮</title>
    </head>
    <body>

        <h1 style="color:red">脑子不好使</h1>
    </body>

</html>
